<form class="flex flex-col gap-4 w-full" id="login-form">
    {% csrf_token %}
    <fieldset>
        <legend class="label-text">Username</legend>
        <input type="text" name="username" placeholder="Username" class="input input-bordered w-full " required>
    </fieldset>
    <fieldset>
        <legend class="label-text">Password</legend>
        <input type="password" name="password" placeholder="Password" class="input input-bordered w-full " required>       
        </fieldset>
        {% if error %}
        <div class="flex flex-col gap-1">
            <span class="text-error">{{ error }}</span>
        </div>
        {% endif %}
    <button type="submit" class="btn btn-primary w-full" hx-post="/login" hx-target="#login-form">Login</button>
</form>