{% extends "base.html" %}

{% block title %}Prompt Lib{% endblock %}

{% block content %}
<div class="h-screen flex items-center justify-center">
    <div class="card w-full max-w-md p-6 bg-white shadow-lg rounded-lg">
        <h1 class="text-2xl font-bold mb-6 text-center">Prompt Lib</h1>
        <div class="flex flex-col justify-center">
            <div class="flex-1 p-1">
                <ul>
                    <li class="mb-2">
                        <a href="{% url 'project_new' %}" class="btn btn-primary w-full">Create a new project</a>
                    </li>
                </ul>
            </div>
            <div class="border-1 border-border w-full"></div>
            <div class="flex-1 p-1">
                <h3>Open an existing project</h3>
            </div>
        </div>

</div>

{% endblock %}