<header
    class="flex items-center justify-between p-4 md:m-2 bg-background  border-border shadow-shadow md:rounded-base md:max-w-xl md:mx-auto">
    <div class="flex items-center justify-between w-full gap-2">
        <a href="{% url 'landing' %}" class="text-lg font-bold">Prompt Lib</a>
        <nav class="items-center gap-4 ml-2 text-xs">
            <a href="{% url 'library_all' %}" class="underline underline-offset-2">Library</a>
            <a href="{% url 'project_new' %}" class="underline underline-offset-2">New Project</a>
        </nav>
    </div>
</header>